#main-contacto {
    padding-top: 10vh;
    padding-bottom: 10vh;
    background: rgb(0,33,36);
    background: linear-gradient(4deg, rgba(0,33,36,1) 0%, rgba(161,129,49,0.9391106784510679) 35%, rgba(0,212,255,1) 90%);
    
}
